*.cpp linguist-language=C++
*.h linguist-language=C++
coop-server filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
source filter=lfs diff=lfs merge=lfs -text
Launcher filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
plugin_sdk filter=lfs diff=lfs merge=lfs -text
project_files filter=lfs diff=lfs merge=lfs -text
scm filter=lfs diff=lfs merge=lfs -text
server filter=lfs diff=lfs merge=lfs -text
