// Microsoft Visual C++ generated resource script.
//
#include <winres.h>
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DIALOG1 DIALOGEX 0, 0, 233, 137
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "CoopAndreas Launcher"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    PUSHBUTTON      "Launch CoopAndreas",ID_BTNLAUNCH,7,92,219,38
    LTEXT           "IMPORTANT: You are playing the alpha/beta version\r\nof CoopAndreas, this version needs a beta test serial key.\r\nDon't worry, the mod as well as the serial key are completely free.\r\nGo to our Discord server, and type in the command below into any channel",ID_LABELSERIALTUTORIAL,7,28,219,44
    EDITTEXT        ID_TEXTSERIALPC,7,76,88,14,ES_AUTOHSCROLL | WS_DISABLED
    PUSHBUTTON      "Copy",ID_BTNCOPYSERIAL,96,76,78,14
    LTEXT           "Serial key:",ID_LABELSERIALSTATIC,7,9,34,8
    EDITTEXT        ID_EDITSERIALGENERATED,43,7,183,14,ES_AUTOHSCROLL
    CONTROL         "<a>Discord Server</a>",IDC_LINKDISCORDSERVER,"SysLink",WS_TABSTOP,176,79,49,10
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_DIALOG1, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 226
        TOPMARGIN, 7
        BOTTOMMARGIN, 130
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_DIALOG1 AFX_DIALOG_LAYOUT
BEGIN
    0
END


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,3,0,0
 PRODUCTVERSION 0,3,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040004b0"
        BEGIN
            VALUE "CompanyName", "Tornamic"
            VALUE "FileDescription", "Cooperative Multiplayer for GTA:SA"
            VALUE "FileVersion", "0.3.0-alpha"
            VALUE "InternalName", "CoopAndreas"
            VALUE "LegalCopyright", "Tornamic (C) 2026"
            VALUE "OriginalFilename", "LaunchCoopAndreas.exe"
            VALUE "ProductName", "CoopAndreas"
            VALUE "ProductVersion", "0.3.0-alpha"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x400, 1200
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1               ICON                    "icon.ico"

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

